torch==2.1.2
transformers==4.37.2
flash-attn==2.4.2
datasets>=2.14.3
accelerate>=0.27.2
peft>=0.9.0
trl>=0.7.11
sentence-transformers==2.6.1
openai>=1.35.0
requests>=2.31.0
gradio>=3.38.0,<4.0.0
scipy
einops
sentencepiece
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib
fire